<a href="#/">Revenir aux commentaires</a>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 blogShort">
      <div ng-hide="load">
        <h1>{{title}}</h1>


        <div ng-repeat="comment in comments | filter:{username:query} | orderBy:order">

          <strong>{{comment.username}}</strong>
          <article><p>{{comment.content}}<article></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h2 class="text-center">Laissez votre commentaire</h2>
      <form role="form" class="col-md-5 col-md-offset-4 go-right" ng-submit="addComment()">
        <div class="form-group">
          <input id="name" name="name" type="text" class="form-control" required ng-model="newComment.username"/>
          <label for="name">Your Name</label>
        </div>
        <div class="form-group">
          <input id="city" name="city" type="texte" class="form-control" requiredng-model="newComment.city"/>
          <label for="name">Your City</label>
        </div>
        <div class="form-group">
          <input id="email" name="email" type="text" class="form-control" required ng-model="newComment.email"/>
          <label for="name">Your Mail</label>
        </div>
        <div class="form-group">
          <textarea ng-model="newComment.content"></textarea>
        </div>
        <input type="submit" value="Envoyer"/>
      </div>
    </form>
  </div>
</div>
