<div ng-hide="load">

  <div ng-repeat="post in posts">
    <div class="container">
    <div class="row">
    <div class="col-md-12 blogShort">
    <h1>{{post.name}}</h1>
     <article><p>
      {{post.content}}
    </p>
  <p><img src="http://lorempicsum.com/futurama/350/150/{{$index + 1}}" width="20%"/></p>
</article>
    <p>
      <a class="btn btn-blog pull-right marginBottom10" href="#/comments/{{post.id}}">{{post.comments.length}} Commentaires</a>
    </p>
  </div>
</div>
</div>
</div>
